@use '../styles/variables.scss';

body {
	font-family: 'Suisse';
	font-style: normal;
	font-weight: 400;
	font-weight: $normalFontWeight;
	font-size: $defaultFontSize;
	line-height: $defaultLineHeight;
	word-break: word-break;
	// max-width: $maxWidth;
	color: $defaultFontColor;
	box-sizing: border-box;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	scroll-behavior: smooth;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: $defaultTransition;

	@media (max-width: $mobileWidth) {
		font-size: 1rem;
		line-height: 1.375rem;
	}
}

*::-webkit-scrollbar {
	display: none;
}
