.hero {
	height: calc(100vh - 7.8125rem);
	max-height: 49.6875rem;
	background-image: url('../assets/hero.jpg');
	background-size: cover;
	position: relative;
	background-position: 50% 50%;

	.hero-content {
		height: 100%;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		display: flex;
		box-sizing: border-box;
		padding: 3.5rem $defaultPadding;

		& > div {
			flex: 1;
			display: flex;
		}
	}

	h1 {
		font-size: 6.25rem;
		line-height: 6.375rem;
		margin: 0;
		font-weight: $normalFontWeight;
		align-self: center;
		flex: 1;
	}

	p {
		margin: 0;
		font-size: 1.5rem;
		line-height: 2rem;
		flex: 4;
	}

	@media screen and (max-width: $mobileWidth) {
		max-height: 34.375rem;

		.hero-content {
			padding: 1.875rem $defaultMobilePadding;
			flex-direction: column;
		}

		h1 {
			font-size: 3rem;
			line-height: 3rem;
			margin-top: auto;
		}

		p {
			order: 2;
			flex: 3;
			font-size: 1rem;
			line-height: 1.375rem;
			margin-top: auto;
		}
	}
}
