nav {
	display: flex;
	background-color: $defaultBackgroundColor;
	justify-content: space-between;
	align-items: center;
	padding: 3rem $defaultPadding 1.5rem;

	@media screen and (max-width: $mobileWidth) {
		padding: 1.875rem $defaultMobilePadding;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		gap: 2.5rem;

		@media screen and (max-width: $mobileWidth) {
			gap: 1.125rem;
			font-size: 0.875rem;
			line-height: 1.125rem;
		}

		li {
			margin: 0;
			cursor: pointer;
			margin-top: 1rem;
			font-size: 1.125rem;
			line-height: 1.25rem;

			a {
				text-decoration: none;
				color: $defaultFontColor;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.logo {
	@media screen and (max-width: $mobileWidth) {
		height: 33px;
	}
}
