// COLORS
$defaultFontColor: #000;
$highlightColor: #00ff4a;

// DIMENSIONS
$maxWidth: 146.375rem; // 2342
$mobileWidth: 30rem; // 380px @jona

// FONT
$normalFontWeight: 400;
$defaultFontSize: 1.25rem; // 20
$defaultLineHeight: 1.625rem; // 26

// STYLING
$defaultTransition: 0.2s all ease-in-out;
$defaultGap: 6.5625rem; // 105px
$defaultPadding: 5rem; // 80px
$defaultMobilePadding: 1.125rem; // 18px

// TODO: all hover + accessibility
