@import './variables';
@import './app';
@import './hero';
@import './navbar';
@import './footer';

@font-face {
	font-family: 'Suisse';
	src: local('Suisse'), url('../fonts/SuisseIntl-Regular-WebM.ttf') format('truetype');
	font-weight: 400;
}
